.startseite-wrapper {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 1, 1, 0.4), 9, 0.0, 4.0, 4.5);
}

.welcome-title {
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.startpage-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 9, 0.0, 4.0, 4.0);
}

.startpage-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
}

.anmeldung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-wrapper {
    -fx-alignment: center;
    -fx-spacing: 16px;
}

.anmeldung-registrierung-title {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.anmeldung-registrierung-textfield {
    -fx-padding: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 2.0, 2.0);
    -fx-max-width: 240px;
}

.anmeldung-registrierung-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.registrierung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 10px;
    -fx-alignment: center;
}

.registrierung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}