.startseite-wrapper {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 1, 1, 0.4), 9, 0.0, 4.0, 4.5);
    -fx-max-height: 380;
    -fx-max-width: 340;
}

.welcome-title {
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.startpage-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 9, 0.0, 4.0, 4.0);
    -fx-pref-height: 50;
    -fx-pref-width: 170;
}

.startpage-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-zurueck-button {
    -fx-background-color: #C14343;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-min-width: 176px;
}

.anmeldung-zurueck-button:hover {
    -fx-background-color: #882e2e;
    -fx-cursor: hand;
}

.anmeldung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-pref-height: 40;
    -fx-pref-width: 120;
    -fx-min-width: 176px;
}

.anmeldung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-wrapper {
    -fx-alignment: center;
    -fx-spacing: 16px;
}

.anmeldung-registrierung-title {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.anmeldung-registrierung-textfield {
    -fx-padding: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 2.0, 2.0);
    -fx-max-width: 240px;
}

.anmeldung-registrierung-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.registrierung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-min-width: 176px;
}

.registrierung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.registrierung-zurueck-button {
    -fx-background-color: #C14343;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-min-width: 176px;
}

.registrierung-zurueck-button:hover {
    -fx-background-color: #882e2e;
    -fx-cursor: hand;
}

.registrierung-wrapper {
    -fx-hgap: 20;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.mitarbeiter-sidemenu-wrapper {
    -fx-background-color: #B2DBBF;
}

.mitarbeiter-sidemenu-button {
    -fx-background-color: #a0c5ac;
    -fx-min-width: 300;
    -fx-text-fill: rgb(35, 61, 77);
    -fx-font-size: 16;
    -fx-padding: 16 12 16 12;
    -fx-background-radius: 0;
    -fx-border-color: rgb(35, 61, 77);
    -fx-border-width: 0 0 1 0;
}

.mitarbeiter-sidemenu-button:focus {
    -fx-background-color: #799c84;
}

.mitarbeiter-sidemenu-button:hover {
    -fx-background-color: #799c84;
    -fx-cursor: hand;
    -fx-text-fill: #ffffff;
}

.mitarbeiter-header {
    -fx-padding: 15px 40px 15px 40px;
    -fx-background-color: #B2DBBF;
}

.mitarbeiter-menubar {
    -fx-background: #B2DBBF;
}

.mitarbeiter-menu {
    -fx-color: #B2DBBF;
    -fx-background-color: #B2DBBF;
    -fx-mark-color: #B2DBBF;
    -fx-font-size: 15;
}

.mitarbeiter-menu > .arrow-button {
    -fx-padding: 0;
}

.mitarbeiter-menu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.mitarbeiter-menu:hover {
    -fx-cursor: hand;
}

.mitarbeiter-menu-item:focused, .mitarbeiter-menu-item:hovered {
    -fx-background-color: #B2DBBF; 
}

.mitarbeiter-menu-item:focused .label, .mitarbeiter-menu-item:hovered .label {
    -fx-text-fill: #000000;
}

.mitarbeiter-registrierung-wrapper {
    -fx-hgap: 30;
    -fx-vgap: 10;
    -fx-padding: 16;
}

.mitarbeiter-registrierung-combobox {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 12px;
    -fx-max-width: 240px;
}

.mitarbeiter-registrierung-button {
    -fx-background-color: #a0c5ac;
    -fx-background-radius: 16px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-min-width: 176px;
}

.mitarbeiter-registrierung-button:hover {
    -fx-background-color: #799c84;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.registrierung-error-label {
    -fx-text-fill: #ff0000;
}

.mitarbeiter-content-title {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.inhaber-mitarbeitern-tableview .column-header-background {
    -fx-background-color: linear-gradient(to bottom, rgba(83, 133, 165, 0.651), #93f9b896);
}

.inhaber-mitarbeitern-tableview .column-header {
    -fx-background-color: transparent;
}

.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:vertical,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:vertical .track,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:vertical .track-background,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:horizontal,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:horizontal .track,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar .increment-button,
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(35, 61, 77, 0.904), #93f9b944);
}
.inhaber-mitarbeitern-tableview .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(35, 61, 77, 0.904), #93f9b944);
}

.inhaber-mitarbeiter-tableview-wrapper {
    -fx-padding: 24px;
    -fx-vgap: 20;
}

.add-button-kunde {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-alignment: center;
}

.add-button-kunde:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.inhaber-hinzufuegen-form-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.inhaber-hinzufuegen-form-textfield {
    -fx-padding: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 2.0, 2.0);
    -fx-max-width: 200px;
}

.inhaber-form-button {
    -fx-background-color: #a0c5ac;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 12px;
    -fx-alignment: center;
    -fx-min-width: 136px;
}

.inhaber-form-button:hover {
    -fx-background-color: #799c84;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.inhaber-produkt-hinzufuegen-wrapper {
    -fx-padding: 36px 24px;
    -fx-vgap: 10;
    -fx-hgap: 10;
}

.inhaber-sortiment-scrollpane {
    -fx-background-color:transparent;
    -fx-padding: 24px;
}

.inhaber-kategorie-verwaltung-content  {
}

.inhaber-kategorie-verwaltung-inner-hinzufuegen {
    -fx-padding: 24px;
    -fx-border-color: rgba(35, 61, 77, 0.781);
    -fx-border-width: 0 1 0 0;
    -fx-spacing: 12px;
}

.inhaber-kategorie-verwaltung-inner-loeschen {
    -fx-padding: 24px;
    -fx-spacing: 12px;
}

.inhaber-kategorie-verwaltung-inner-title {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.inhaber-kategorie-verwaltung-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.inhaber-kategorie-verwaltung-textfield {
    -fx-padding: 12px;
    -fx-min-width: 136px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 5, 0.0, 2.0, 2.0);
}

.inhaber-kategorie-verwaltung-inner-combobox {
    -fx-min-width: 146px;
    -fx-background-color: #ffffff;
    -fx-padding: 8px;
    -fx-border-width: 1;
    -fx-border-color: rgba(35, 61, 77, 0.781);
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.inhaber-sortiment-leer-text {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.inhaber-sortiment-wrapper {
    -fx-vgap: 40;
    -fx-hgap: 40;
}

.inhaber-sortiment-produkt-wrapper {
    -fx-alignment: center;
    -fx-hgap: 16;
    -fx-vgap: 10;
    -fx-padding: 20;
    -fx-background-color: #c4c4c4;
    -fx-background-radius: 4px;
}

.inhaber-sortiment-produkt-textfield {
    -fx-min-width: 140px;
    -fx-padding: 8px;
}

.inhaber-sortiment-produkt-combobox {
    -fx-min-width: 164px;
    -fx-padding: 8px 4px;
    -fx-background-color: #ffffff;
}

.inhaber-sortiment-produkt-button {
    -fx-background-color: #a0c5ac;
    -fx-background-radius: 8px;
    -fx-text-fill: #000000;
    -fx-padding: 8px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.329), 4, 0.0, 1.0, 1.0);
}

.inhaber-sortiment-produkt-button:hover {
    -fx-background-color: #799c84;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.inhaber-fahrzeugdaten-form {
    -fx-spacing: 16px;
}

.inhaber-fahrzeugdaten-content-wrapper {
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-padding: 24px;
}

.inhaber-statistiken-content-wrapper {
    -fx-padding: 24px;
    -fx-hgap: 32;
    -fx-vgap: 32;
}

.inhaber-statistiken-item-text {
    -fx-font-size: 24px;
}

.inhaber-statistiken-item-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}