.startseite-wrapper {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-alignment: center;
    -fx-spacing: 30;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 1, 1, 0.4), 9, 0.0, 4.0, 4.5);
    -fx-max-height: 380;
    -fx-max-width: 340;
}

.welcome-title {
    -fx-font-weight: bold;
    -fx-font-size: 40;
}

.startpage-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 9, 0.0, 4.0, 4.0);
    -fx-pref-height: 50;
    -fx-pref-width: 170;
}

.startpage-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-pref-height: 40;
    -fx-pref-width: 120;
}

.anmeldung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.anmeldung-wrapper {
    -fx-alignment: center;
    -fx-spacing: 16px;
}

.anmeldung-registrierung-title {
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

.anmeldung-registrierung-textfield {
    -fx-padding: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 2.0, 2.0);
    -fx-max-width: 240px;
}

.anmeldung-registrierung-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.registrierung-button {
    -fx-background-color: #FF6868;
    -fx-background-radius: 16px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 1, 1, 0.5), 7, 0.0, 4.0, 4.0);
    -fx-padding: 10px;
    -fx-alignment: center;
}

.registrierung-button:hover {
    -fx-background-color: #C14343;
    -fx-cursor: hand;
}

.registrierung-wrapper {
    -fx-hgap: 20;
    -fx-vgap: 10;
    -fx-alignment: center;
}

.mitarbeiter-sidemenu-wrapper {
    -fx-background-color: #C4C4C4;
}

.mitarbeiter-sidemenu-button {
    -fx-background-color: #888888;
    -fx-min-width: 300;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-padding: 16 12 16 12;
    -fx-background-radius: 0;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1 0;
}

.mitarbeiter-sidemenu-button:focus {
    -fx-background-color: #595959;
}

/* .mitarbeiter-sidemenu-button-active {
    -fx-background-color: #595959;
    -fx-min-width: 300;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
    -fx-padding: 16 12 16 12;
    -fx-background-radius: 0;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1 0;
} */

.mitarbeiter-sidemenu-button:hover {
    -fx-background-color: #595959;
    -fx-cursor: hand;
}

.mitarbeiter-header {
    -fx-padding: 30px 40px 30px 40px;
    -fx-background-color: #C4C4C4;
}

.mitarbeiter-menubar {
    -fx-background: #C4C4C4;
}

.mitarbeiter-menu {
    -fx-color: #C4C4C4;
    -fx-background-color: #C4C4C4;
    -fx-mark-color: #C4C4C4;
    -fx-font-size: 15;
}

.mitarbeiter-menu > .arrow-button {
    -fx-padding: 0;
}

.mitarbeiter-menu > .arrow-button > .arrow {
    -fx-padding: 0;
}

.mitarbeiter-menu:hover {
    -fx-cursor: hand;
}

.mitarbeiter-menu-item:focused, .mitarbeiter-menu-item:hovered {
    -fx-background-color: #e7e7e7; 
}

.mitarbeiter-menu-item:focused .label, .mitarbeiter-menu-item:hovered .label {
    -fx-text-fill: #000000;
}